body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    
}

.header-logo {
    text-decoration: none;
}

.web {
    font-family: 'Raleway' sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}


.studio {
    font-family: 'Raleway' sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.header-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.header-eml {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-tel {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.header-sec {
    background: #2E2F42;
}

.header-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 0.02em;
}

.header-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5; 
    color: #FFFFFF;
    letter-spacing: 0.04em;
    cursor: pointer;
}

